.popup__close-button {
  background-color: transparent;
  /* background-repeat: no-repeat; */
  border: none;
  /* cursor: pointer; */
  /* overflow: hidden; */
  /* outline: none; */
  position: absolute;
  right: 0;
  margin-top: 10px;
}
